@model AddQuestionViewModel
@{
    ViewData["Title"] = "Question";
}

<div class="question">
    <div class="question-head">
        <p><i class="fa fa-question"></i>نظر سنجی</p>
        <h2>@ViewBag.Sucses</h2>
    </div>
    @if (!Model.Question.Any())
    {
        <div class="question-text">

            <p>نظر سنجی های ما اینجا قرار میگیرد</p>
        </div>

    }
    else
    {

        if (User.Identity.IsAuthenticated)
        {
            @foreach (var item in Model.Question.Take(1))
            {
                <div class="question-text">

                    <p style="line-height: 20px; word-break: break-word; text-align: justify;">@item.QuestionText</p>
                </div>
                <div class="question-check">
                    @foreach (var iten in Model.BtnQuestion.Where(p => p.QuestionId == item.Id))
                    {
                        <a href="/Home/GetPercentage/BtnId=@iten.Id/questionId=@item.Id">@iten.Name <span id="@iten.Id">(@iten.UserAnswer.Count())</span></a>
                    }
                </div>
            }

        }
        else
        {
            <div class="question-text">

                <p style="line-height: 20px; word-break: break-word; text-align: justify;">برای شرکت در نظر سنجی وارد اکانت خود شوید</p>
            </div>
        }

    }
</div>
