@model User
@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
    ViewData["Title"] = "پروفایل";
}

<div class="prof-main">
    <div class="head-pro">
        <img src="~/ProfileImage/@Model.BackGroundImg" alt="">
        <div class="profiles">
            <img src="~/ProfileImage/@Model.ProfileImg" alt="">
            <div class="name-pro">
                <h1>@Model.UserName</h1>
            </div>
        </div>
        @*<div class="faloow">
                @if (User.Identity.Name == Model.UserName)
                {
                    @if (Model.UserInUsers == null)
                    {
                        <p>
                            0 دنبال کننده
                        </p>
                    }
                    else
                    {
                        <p>
                            @Model.UserInUsers.Count() دنبال کننده
                        </p>
                    } }
                else
                {
                    if (ViewBag.userinuser == 0&&User.Identity.IsAuthenticated)
                    {
                        <h1 onclick="AddUserConnection(this)" attr="@Model.Id">دنبال کنید</h1>
                    }
                    @if (ViewBag.userinuser == 0)
                    {
                        <p>
                            @Model.UserInUsers.Count() دنبال کننده
                        </p>
                    }
                    else
                    {
                        <p>
                            @Model.UserInUsers.Count() دنبال کننده
                        </p>
                    }
                }
            </div>*@
    </div>
</div>
<div class="head-maiin">
    <div class="list-active" onclick="GetClass(this)" attr="posts">
        <h2>
            پست ها
        </h2>
        <i class="fa fa-caret-up"></i>
    </div>
    @*@if (User.Identity.Name == Model.UserName)
        {
            <div class="list" attr="falow-me">
                <h2>
                    دنبال کننده ها
                </h2>
                <i class="fa fa-caret-up"></i>
            </div>
        }*@
    @if (User.Identity.Name == Model.UserName || User.IsInRole("Admin"))
    {
        <div class="list" onclick="GetClass(this)" attr="Save-Post">
            <h2>
                ذخیره شده ها
            </h2>
            <i class="fa fa-caret-up"></i>
        </div>
    }
    <div class="list" onclick="GetClass(this)" attr="Bio">
        <h2>
            درباره من
        </h2>
        <i class="fa fa-caret-up"></i>
    </div>
    @if (User.Identity.Name == Model.UserName || User.IsInRole("Admin"))
    {
        <div class="list">
            <h2>
                <a asp-action="EditUser" asp-controller="Profile" asp-route-id="@Model.Id">
                    ویرایش پروفایل
                </a>
            </h2>
            <i class="fa fa-caret-up"></i>
        </div>
    }
</div>
<div class="posts-active" id="Post" style="width:100%">
    @if (Model.PostTexts.Any())
    {
        @foreach (var item in Model.PostTexts)
        {
            <div class="post-list col-md-4 col-sm-12 col-12" id="Post-@item.Id">

                <h1 class="text-center" style="margin-top:10px">نام داستان : <span>@item.Name</span></h1>
                @if (item.Image != null)
                {
                    <img src="~/PostTextImages/@item.Image" alt="">
                }

                <div class="text">
                    <p>
                        <span style="color:#1b1be1a6"> نوضیح :  </span>
                        @item.ShortText
                    </p>
                </div>
                <div class="footer" style="display:flex">
                    @if (User.Identity.Name == Model.UserName || User.IsInRole("Admin"))
                    {
                        <div class="left" style="display:flex">
                            <a id="update" asp-action="EditPostText" asp-controller="PostText" asp-route-id="@item.Id">ویرایش</a>
                            <a id="delete" style="cursor:pointer" attr="@item.Id" onclick="OpenDeleteModel(this)">حذف</a>
                        </div>
                    }
                    <div class="right">
                        <a href="#">ادامه مطلب</a>
                    </div>

                </div>

            </div>
        }
    }
    else
    {
        <h2>هیچ پستی یافت نشد</h2>
    }
</div>
@*<div class="falow-me">
        @if (Model.UserName == User.Identity.Name)
        {
            <h2>
                دنبال کننده های شما
            </h2>
            @if (Model.UserInUsers != null)
            {
                foreach (var item in Model.UserInUsers)
                {
                    <div class="falow-me-list" id="userr-@item.Id">
                        <img src="~/ProfileImage/@item.User.ProfileImg" alt="">
                        <a asp-action="Index" asp-controller="Profile" asp-route-id="@item.UserId">@item.User.UserName</a>
                        <div class="tools">
                            <a asp-action="Index" asp-controller="Profile" asp-route-id="@item.UserId">مشاهده پروفایل</a>
                            <a id="delete-falow" style="cursor:pointer" attr="@item.Id" onclick="OpenDeleteUserModel(this)"> حذف از دنبال کننده</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="falow-me-list">
                    <p>هیچ دنبال کننده ای وجود ندارد</p>
                </div>
            }
        }

    </div>*@
<div class="Bio" id="Post">
    <div class="Bio-me">
        <h2>درباره من :</h2>
        <br />
        <p>
            @Html.Raw(Model.Bio)
        </p>
    </div>
</div>
<div class="Save-Post" id="Post" style="width:100%">
    @if (Model.PostTexts.Any())
    {
        @foreach (var item in Model.SavePosts)
        {
            <div class="post-list col-md-4 col-sm-12 col-12" id="SavePost-@item.Id">

                <h1 class="text-center" style="margin-top:10px">نام داستان : <span>@item.PostTexts.Name</span></h1>
                @if (item.PostTexts.Image != null)
                {
                    <img src="~/PostTextImages/@item.PostTexts.Image" alt="">
                }

                <div class="text">
                    <p>
                        <span style="color:#1b1be1a6"> نوضیح :  </span>
                        @item.PostTexts.ShortText
                    </p>
                </div>
                <div class="footer" style="display:flex">
                    @if (User.Identity.Name == Model.UserName || User.IsInRole("Admin"))
                    {
                        <div class="left" style="display:flex;width:100%">
                            <a id="delete" style="cursor:pointer" onclick="DeleteSavePost(this)" attr="@item.Id">حذف از ذخیره ها</a>
                        </div>
                    }
                    <div class="right">
                        <a href="#">ادامه مطلب</a>
                    </div>
                </div>

            </div>
        }
    }
    else
    {
        <h2>هیچ ذخیره ای ندارید</h2>
    }
</div>

<!-- delete Modal PostText -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding:10px">
            <input type="hidden" id="DeleteID" name="name" value="" />
            <label id="lal">

            </label>

            <br />
            <button style="width:100%;margin-top:10px" class="btn btn-success" id="btnDelete">حذف</button>
        </div>
    </div>
</div>
<!-- delete Modal UserInUser-->
@*<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="padding:10px">
                <input type="hidden" id="DeleteUserID" name="name" value="" />
                <label id="lal">

                </label>

                <br />
                <button style="width:100%;margin-top:10px" class="btn btn-success" id="btnDeletee">حذف</button>
            </div>
        </div>
    </div>*@

<!-- delete Modal savePost-->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding:10px">
            <input type="hidden" id="DeleteSavePostID" name="name" value="" />
            <label id="lale">

            </label>

            <br />
            <button style="width:100%;margin-top:10px" class="btn btn-success" id="btnDelet">حذف</button>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //حذف پست
            $("#btnDelete").click(function (e) {
                e.preventDefault();
                var id = $("#DeleteID").val();
                $.ajax({
                    type: "Post",
                    url: "/PostText/DeletePostText",
                    data: { ID: id },
                    success: function (result) {
                        $("#exampleModal").modal("hide");
                        if (result != null) {
                            $("#Post-" + result.id).remove();
                        }
                    }

                })
            })
            ////حذف اتصال کاربر
            //$("#btnDeletee").click(function (e) {
            //    e.preventDefault();
            //    var id = $("#DeleteUserID").val();
            //    $.ajax({
            //        type: "Post",
            //        url: "/Account/DeleteCommunicationWithUsers",
            //        data: { ID: id },
            //        success: function (result) {
            //            $("#exampleModal1").modal("hide");
            //            if (result != null) {
            //                debugger;
            //                $("#userr-" + result.id).remove();
            //            }
            //        }
            //    })
            //})
            //حذف پست سیو شدع
            $("#btnDelet").click(function (e) {
                e.preventDefault();
                var id = $("#DeleteSavePostID").val();
                $.ajax({
                    type: "Post",
                    url: "/PostText/DeleteSavePost",
                    data: { ID: id },
                    success: function (result) {
                        $("#exampleModal3").modal("hide");
                        if (result != null) {
                            $("#SavePost-" + result.id).remove();
                        }
                    }
                })
            })
        });
        //function OpenDeleteUserModel(obj) {
        //    var attr = obj.getAttribute("attr");
        //    $.ajax({
        //        type: "Post",
        //        url: "/Account/GetUserById",
        //        data: { id: attr },
        //        success: function (result) {
        //            $("#exampleModal1").modal("show");
        //            if (result != null) {
        //                debugger;
        //                $("#DeleteUserID").val(result.id);
        //                document.getElementById("lal").innerHTML = ' ایا از حذف ' + result.User.userName + ' اطمینان دارید؟';
        //            }
        //        }
        //    });
        //}
        function OpenDeleteModel(obj) {
            var attr = obj.getAttribute("attr");
            $.ajax({
                type: "Post",
                url: "/PostText/GetPostTextById",
                data: { id: attr },
                success: function (result) {
                    $("#exampleModal").modal("show");
                    if (result != null) {
                        $("#DeleteID").val(result.id);
                        document.getElementById("lal").innerHTML = ' ایا از حذف ' + result.name + ' اطمینان دارید؟';
                    }
                }
            });
        }

        //// دنبال کردن
        //function AddUserConnection(obj) {
        //    var attr = obj.getAttribute("attr");
        //    $.ajax({
        //        type: "Post",
        //        url: "/Account/AddCommunicationWithUsers",
        //        data: { id: attr },
        //        success: function (result) {
        //            obj.remove();
        //        }
        //    });
        //}


        //SavePoSt
        function DeleteSavePost(obj) {
            var attr = obj.getAttribute("attr");
            $.ajax({
                type: "Post",
                url: "/PostText/GetSavePostById",
                data: { id: attr },
                success: function (result) {
                    $("#exampleModal3").modal("show");
                    if (result != null) {
                        $("#DeleteSavePostID").val(result.id);
                        document.getElementById("lale").innerHTML = 'ایا از حذف این پست سیو شده اطمینان دارید؟';
                    }
                }
            });
        }
    </script>
}