@model User
@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
    ViewData["Title"] = "Index";
}

<div class="prof-main">
    <div class="head-pro">
        <img src="~/SiteTemplate/Image/metal_gear_solid_v_the_phantom_pain-1920x1080.jpg" alt="">
        <div class="profiles">
            <img src="~/ProfileImage/@Model.ProfileImg" alt="">
            <div class="chang-pro">
                <a href="#">عوض کردن پروفایل</a>
            </div>
            <div class="name-pro">
                <h1>@Model.UserName</h1>
            </div>
        </div>
        <div class="change-backimg">
            <a href="#"><i class="fa fa-picture-o"></i> عکس بنر را ویرایش کنید </a>
        </div>
        <div class="faloow">
            @if (User.Identity.Name == Model.UserName)
            {
                @if (Model.UserInUsers == null)
                {
                    <p>
                        0 دنبال کننده
                    </p>
                }
                else
                {
                    <p>
                        @Model.UserInUsers.Count() دنبال کننده
                    </p>
                } }
            else
            {
                <h1>دنبال کنید</h1>
                @if (Model.UserInUsers == null)
                {
                    <p>
                        0 دنبال کننده
                    </p>
                }
                else
                {
                    <p>
                        @Model.UserInUsers.Count() دنبال کننده
                    </p>
                }
            }
        </div>
    </div>
</div>
<div class="head-maiin">
    <div class="list-active">
        <h2>
            پست ها
        </h2>
        <i class="fa fa-caret-up"></i>
    </div>
    <div class="list">
        <h2>
            دنبال کننده ها
        </h2>
        <i class="fa fa-caret-up"></i>
    </div>
    <div class="list">
        <h2>
            ذخیره شده ها
        </h2>
        <i class="fa fa-caret-up"></i>
    </div>
    <div class="list">
        <h2>
            درباره
        </h2>
        <i class="fa fa-caret-up"></i>
    </div>
    @if (User.Identity.Name == Model.UserName)
    {
        <div class="list">
            <a asp-action="EditUser" asp-controller="Profile" asp-route-id="@Model.Id">
                ویرایش پروفایل
            </a>
            <i class="fa fa-caret-up"></i>
        </div>
    }
</div>
<div class="posts" style="width:100%">
    @if (Model.PostTexts.Any())
    {
        @foreach (var item in Model.PostTexts)
        {
            <div class="post-list col-md-4 col-sm-12 col-12" id="Post-@item.Id">

                <h1 class="text-center" style="margin-top:10px">نام داستان : <span>@item.Name</span></h1>
                @if (item.Image != null)
                {
                    <img src="~/PostTextImages/@item.Image" alt="">
                }

                <div class="text">
                    <p>
                        <span style="color:#1b1be1a6"> نوضیح :  </span>
                        @item.ShortText
                    </p>
                </div>
                <div class="footer" style="display:flex">
                    @if (User.Identity.Name == Model.UserName)
                    {
                        <div class="left" style="display:flex">
                            <a id="update" asp-action="EditPostText" asp-controller="PostText" asp-route-id="@item.Id">ویرایش</a>
                            <a id="delete" attr="@item.Id" onclick="OpenDeleteModel(this)">حذف</a>
                        </div>
                    }
                    <div class="right">
                        <a href="#">ادامه مطلب</a>
                    </div>

                </div>

            </div>
        }
    }
    else
    {
        <h2>هیچ پستی یافت نشد</h2>
    }
</div>
@*<div>
        <div class="falow-me">
            @if (Model.UserName == User.Identity.Name)
            {
                <h2>
                    دنبال کننده های شما
                </h2>
                @foreach (var item in Model.UserInUsers)
                {
                    <div class="falow-me-list">
                        <img src="~/SiteTemplate/Image/male-user-profile-picture_318-37825.jpg" alt="">
                        <a href="#">@item.</a>
                        <div class="tools">
                            <a id="visit-falow" href="#">مشاهده پروفایل</a>
                            <a id="delete-falow" href="#"> حذف از دنبال کنندها</a>
                        </div>
                    </div>
                }
            }

        </div>
    </div>*@
@*<div class="Bio">
        <div class="Bio-me">
            <h2>درباره من :</h2>
            <br />
            <p>
                @Html.Raw(Model.Bio)
            </p>
        </div>
    </div>*@



<!-- delete Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding:10px">
            <input type="hidden" id="DeleteID" name="name" value="" />
            <label id="lal">

            </label>

            <br />
            <button style="width:100%;margin-top:10px" class="btn btn-success" id="btnDelete">حذف</button>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //حذف
            $("#btnDelete").click(function (e) {
                e.preventDefault();
                var id = $("#DeleteID").val();
                $.ajax({
                    type: "Post",
                    url: "/PostText/DeletePostText",
                    data: { ID: id },
                    success: function (result) {
                        $("#exampleModal").modal("hide");
                        if (result != null) {
                            debugger;
                            $("#Post-" + result.id).remove();
                        }
                    }

                })
            })
        });
        function OpenDeleteModel(obj) {
            debugger;
            var attr = obj.getAttribute("attr");
            $.ajax({
                type: "Post",
                url: "/PostText/GetPostTextById",
                data: { id: attr },
                success: function (result) {
                    $("#exampleModal").modal("show");
                    if (result != null) {
                        $("#DeleteID").val(result.id);
                        document.getElementById("lal").innerHTML = ' ایا از حذف ' + result.name + ' اطمینان دارید؟';
                    }
                }
            });
        }
    </script>
}