@model ReadMoreViewModel

@{
    ViewData["Title"] = "خانه هنر";
}


<div class="main-text-list col-md-8 col-sm-12">
    <div class="text-list">
        <div class="top-pro">
            <img src="~/ProfileImage/@Model.PostText.Users.ProfileImg" alt="">
            <a asp-action="Index" asp-controller="Profile" asp-route-id="@Model.PostText.UserId" id="name">@Model.PostText.Users.UserName</a>
            @if (User.Identity.Name != Model.PostText.Users.UserName && User.Identity.IsAuthenticated)
            {
                @if (ViewBag.UserCount == 0)
                {
                    <a onclick="AddSavePost(this)" style="cursor:pointer" attr="@Model.PostText.Id" id="fallow">ذخیره پست</a>

                }
            }
        </div>
        <div class="Short-Text">
            <div class="img">
                @if (Model.PostText.Image != null)
                {
                    <img src="~/PostTextImages/@Model.PostText.Image" alt="Alternate Text" />

                }
                else
                {
                    <h1 style="text-align: center;font-size: 32px;margin-top: 10px;color: #1b1be1a6;padding: 82px;">***</h1>

                }
            </div>
            <div class="texts">
                <h2><a asp-controller="Home" asp-action="Search" asp-route-group="@Model.PostText.Groups.Name" style="color:white">@Model.PostText.Groups.Name</a></h2>
                @if (Model.PostText.Groups.Name != "دلنوشته" && Model.PostText.Groups.Name != "متن سنگین")
                {
                    <p style="margin-top: 10px;word-break: break-word;">نام : <span>@Model.PostText.Name</span></p>
                }
                <p >توضیح کوتاه : <span id="shorttexts" style="line-height: 19px;">@Model.PostText.ShortText</span></p>
                <div style="display:flex">
                    <p>تاریخ ثبت : <span>@Model.PostText.CreatedTime.ToPersianDateString()</span></p>
                    <p>بازدید : <span>@Model.PostText.Visit</span></p>
                </div>
            </div>

        </div>
    </div>
    <div class="Text" style="line-height: 24px;word-break: break-word;">
        @Html.Raw(Model.PostText.Text)
    </div>
    <div class="Comment" style="margin-top: 10px;background:white;border-radius: 3px;">
        @if (User.Identity.IsAuthenticated)
        {
                <form action="/PostText/AddComment" method="post">
                    <div class="AddComment" style="padding:10px;margin-bottom:7px;border-bottom: 1px dashed ;">
                        <input type="hidden" name="Comment.PostId" value="@Model.PostText.Id" />
                        <input type="hidden" id="GetCommentID" name="Comment.ParentID" value="" />
                        <div class="form-group">
                            <label id="Lable" class="control-label padding-10">نظر خود را بنویسید :</label>
                            <input type="text" id="input-file-now" style="border: 1px solid #1b1be1a6;" asp-for="Comment.text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" style="width:100%" name="name" value="افزودن نظر" />
                            <a onclick="Cancel(this)" id="cancel" class="btn btn-danger" style="width:100%;cursor:pointer;display:none">برگشت</a>

                        </div>
                    </div>
                </form>
        }
        else
        {
            <p style=" text-align: center; padding: 20px; background: #1b1be1a6; color: white;">
                لطفا برای نوشتن نظر وارد <a asp-action="Login" asp-controller="Account">اکانت</a> خود شوید
            </p>
        }
        @if (!Model.Comments.Any())
        {

        }
        else
        {
            <div id="comments" style="padding:10px">
                @foreach (var item in Model.Comments.Where(p => p.ParentID == null))
                {
                    <div class="Nazar" id="@item.Id">
                        <img src="~/ProfileImage/@item.Users.ProfileImg" alt="">
                        <i class="fa fa-user"></i>
                        <h1 style="cursor: pointer; width: 21%; margin-top: 42px; text-align: justify; word-break: break-word;" asp-action="Index" asp-controller="Profile" asp-route-id="@item.Users.Id">@item.Users.UserName</h1>
                        <div class="text">
                            <p style="word-break: break-word;text-align: justify;line-height: 23px;">
                                @item.text
                            </p>
                            @foreach (var items in Model.Comments.Where(p => p.ParentID == item.Id))
                            {
                                <div class="Nazar" id="@items.Id">
                                    <h1 asp-action="Index" asp-controller="Profile" asp-route-id="@items.Users.Id">@items.Users.UserName</h1>
                                    <div class="text">
                                        @items.text
                                    </div>
                                </div>
                                @if (User.Identity.Name == Model.PostText.Users.UserName || User.IsInRole("Admin")||item.Users.UserName==User.Identity.Name)
                                {
                                    <a asp-action="DeleteComment" asp-route-id="@items.Id" id="deletecomments" style="padding-left: 28px; margin-top: -23px; padding-right: 28px;" class="btn btn-danger">حذف</a>
                                }
                            }
                        </div>
                    </div>
                    <div class="Inputs">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a onclick="AddText(this)" style="padding-left: 28px; margin-top: -23px;
                          padding-right: 28px;cursor: pointer" class="btn btn-success" attr="@item.Id">پاسخ</a>
                            @if (User.Identity.Name == Model.PostText.Users.UserName || User.IsInRole("Admin") || item.Users.UserName == User.Identity.Name)
                            {
                                <a asp-action="DeleteComment" asp-route-id="@item.Id" style="padding-left: 28px; margin-top: -23px; padding-right: 28px;" class="btn btn-danger">حذف</a>
                            }
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        //function AddUserConnection(obj) {
        //    var attr = obj.getAttribute("attr");
        //    $.ajax({
        //        type: "Post",
        //        url: "/Account/AddCommunicationWithUsers",
        //        data: { id: attr },
        //        success: function (result) {
        //            obj.remove();
        //        }
        //    });
        //}
        function AddSavePost(obj) {
            var attr = obj.getAttribute("attr");
            $.ajax({
                type: "Post",
                url: "/PostText/AddSavePost",
                data: { id: attr },
                success: function (result) {
                    obj.remove();
                    alert("با موفقیت ذخیره شد");
                }
            });
        }
        function AddText(obj) {
            debugger;
            var attr = obj.getAttribute("attr");
            var coommentId = document.getElementById("GetCommentID");
            coommentId.value = attr;
            var Get = document.getElementById("comments").style.display = "none";
            var Get = document.getElementById("Lable").innerHTML = "پاسخ خود را بنویسید";
            var Get = document.getElementById("cancel").style.display = "block";

        }
        function Cancel(obj) {
            var Get = document.getElementById("comments").style.display = "block";
            var Get = document.getElementById("Lable").innerHTML = "نظر خود را بنویسید :";
            obj.style.display = "none";
        }
       
    </script>
}

