@model IEnumerable<PostText>
@{
    ViewData["Title"] = "خانه هنر";
}

<div class="main-text-list col-md-8 col-sm-12">
    @foreach (var item in Model)
    {

        <div class="text-list">
            <div class="top-pro">
                <img src="~/ProfileImage/@item.Users.ProfileImg" alt="">
                <a asp-action="Index" asp-controller="Profile" asp-route-id="@item.UserId" id="name">@item.Users.UserName</a>
                <a asp-controller="Home" asp-action="Search" asp-route-group="@item.Groups.Name" style="margin-top:10px">/@item.Groups.Name</a>
                @if (User.Identity.Name != item.Users.UserName && User.Identity.IsAuthenticated)
                {
                    @if (item.SavePosts.Where(p => p.UserId == ViewBag.UserId).Count() == 0)
                    {
                        <a onclick="AddSavePost(this)" style="cursor:pointer" attr="@item.Id"  id="fallow">ذخیره پست</a>

                    }
                }
            </div>
            <div class="main-text">
                @if (item.Groups.Name != "دلنوشته"&& item.Groups.Name != "متن سنگین")
                {
                    <h1 class="text-center" style="margin-top:10px">نام : <span>@item.Name</span></h1>
                }
                @if (item.Image != null)
                {
                    <img src="~/PostTextImages/@item.Image" alt="">
                }
                else
                {
                    <h1 style="text-align: center;font-size: 32px;margin-top: 10px;color: #1b1be1a6;padding: 82px;">***</h1>
                }
                <p>
                    <span style="color:#1b1be1a6"> توضیح :  </span>
                    @item.ShortText
                </p>
            </div>
            <div class="main-footer">
                <p style="margin-left: 20px;"><span>بازدید :</span> @item.Visit</p>
                <p><span>تاریخ ثبت :</span> @item.CreatedTime.ToPersianDateString()</p>
                <a asp-controller="PostText" asp-action="ReadMore" asp-route-id="@item.Id" id="bro">ادامه داستان</a>
            </div>
        </div>
    }
    <div class="row text-center" style="justify-content: center;">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    @if (ViewBag.PageID != 1)
                    {
                        var c = ViewBag.PageID - 1;
                        <a class="page-link" href="/Home/Index?pageid=@c" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    }
                </li>
                @for (var i = 1; i <= ViewBag.CountPage; i++)
                {
                    <li class="@(((int)ViewBag.PageID == i) ? "page-item active" : "page-item"))"><a class="page-link" href="/Home/Index?pageid=@i">@i</a></li>

                }
                <li class="page-item">
                    @if (ViewBag.PageID < ViewBag.CountPage)
                    {
                        var c = ViewBag.PageID + 1;
                        <a class="page-link" href="/Home/Index?pageid=@c" aria-label="Previous">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    }
                </li>
            </ul>
        </nav>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        //function AddUserConnection(obj) {
        //    var attr = obj.getAttribute("attr");
        //    $.ajax({
        //        type: "Post",
        //        url: "/Account/AddCommunicationWithUsers",
        //        data: { id: attr },
        //        success: function (result) {
        //            obj.remove();
        //        }
        //    });
        //}
        function AddSavePost(obj) {
            var attr = obj.getAttribute("attr");
            $.ajax({
                type: "Post",
                url: "/PostText/AddSavePost",
                data: { id: attr },
                success: function (result) {
                    obj.remove();
                }
            });
        }
    </script>
}

@*if (User.Identity.Name != item.Users.UserName && User.Identity.IsAuthenticated)
{
    if (item.Users.UserInUsers.Count == 0)
    {
        <a onclick="AddUserConnection(this)" style="cursor:pointer" attr="@item.UserId" id="fallow">ذخیره پست</a>
    }
}*@