@model AddQuestionViewModel
@{
    ViewData["Title"] = "نظر سنجی";
}

<div class="row" style="margin-top:10px">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">مدیریت سوال ها <a style="float: left" id="OpenCreatModal" class="btn btn-primary">افرودن سوال</a></div>
            <div class="table-responsive">
                <table class="table table-hover manage-u-table">
                    <thead>
                        <tr>
                            <th width="70" class="text-center">#</th>
                            <th>متن</th>
                            <th>شروع نظر سنجی</th>
                            <th>پایان نظر سنجی</th>
                            <th width="300">مدیریت کردن</th>
                        </tr>
                    </thead>
                    <tbody id="group-list">
                        @foreach (var item in Model.Question.OrderByDescending(p=>p.StartThePoll))
                        {
                            <tr id="@item.Id">
                                <td class="text-center">@item.Id</td>
                                <td id="Name-@item.Id">
                                    @item.QuestionText
                                </td>
                                <td id="StartThePoll-@item.Id">
                                    @item.StartThePoll.ToPersianDateStrings()
                                </td>
                                <td id="EndThePoll-@item.Id">
                                    @item.EndThePoll.ToPersianDateStrings()
                                </td>
                                <td>
                                    <button type="button" attr="@item.Id" onclick="OpenDeleteModel(this)" class="btn btn-info btn-outline btn-circle btn-lg m-r-5">
                                        <i class="ti-trash"></i>
                                    </button>
                                    <button type="button" attr="@item.Id" onclick="OpenUpdateModal(this)" class="btn btn-info btn-outline btn-circle btn-lg m-r-5">
                                        <i class="ti-pencil-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Add Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding:10px">
            <div class="col-12 text-center">
                <h3>
                    افزودن سوال
                </h3>
                @ViewBag.Error
            </div>
            <div class="form-group">
                <label for="">سوال :</label>
                <input type="text" class="form-control" id="creatTextGroup" name="name" value="" />
            </div>
            <div class="form-group">
                <label for="">زمان شروع :</label>
                <input type="text" id="AddStartThePoll" onclick="PersianDatePicker.Show(this, '@DateTime.Now.ToPersianDateString()');" />
            </div>
            <div class="form-group">
                <label for="">زمان اتمام :</label>
                <input type="text" id="AddEndThePoll" onclick="PersianDatePicker.Show(this, '@DateTime.Now.ToPersianDateString()');" />
            </div>
            <div class="form-group">
                <label for="">وضعیت :</label>
                <select class="form-control" id="CreatIsDeletedGroup">
                    <option>حذف نشده</option>
                    <option>حذف شده</option>
                </select>
            </div>
            <button style="width:100%;margin-top:10px" class="btn btn-success" id="save">افزودن</button>
        </div>
    </div>
</div>
<!-- Edit Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding:10px">
            <form action="/Admin/Offers/UpdateQuestion" method="post">
                <input type="hidden" id="id" name="id" value="" />
                <div class="col-12 text-center">
                    <h3>
                        ویرایش سوال
                    </h3>
                    @ViewBag.Error
                </div>
                <div class="form-group">
                    <label for="">سوال :</label>
                    <input type="text" class="form-control" id="text" name="text" value="" />
                </div>
                <div class="form-group">
                    <label for="">زمان شروع :</label>
                    <input type="text" id="startPoll" name="startPoll" onclick="PersianDatePicker.Show(this, '@DateTime.Now.ToPersianDateString()');" />
                </div>
                <div class="form-group">
                    <label for="">زمان اتمام :</label>
                    <input type="text" id="endPoll" name="endPoll" onclick="PersianDatePicker.Show(this, '@DateTime.Now.ToPersianDateString()');" />
                </div>
                <div class="form-group">
                    <label for="">وضعیت :</label>
                    <select class="form-control" id="isDeleted" name="isDeleted">
                        <option>حذف نشده</option>
                        <option>حذف شده</option>
                    </select>
                </div>
                <button style="width:100%;margin-top:10px" class="btn btn-success">ویرایش</button>
            </form>
        </div>
    </div>
</div>
<!-- delete Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding:10px">
            <input type="hidden" id="DeleteID" name="name" value="" />
            <label id="lal">

            </label>
            <br />
            <button style="width:100%;margin-top:10px" class="btn btn-success" id="btnDelete">حذف</button>
        </div>
    </div>
</div>
<!-- Add Btn Modal -->
<div class="modal fade" id="exampleModal32" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="/Admin/Offers/AddBtnQuestions" method="post">
            <div class="modal-content" style="padding:10px" id="CreateBtn">
                <input type="hidden" id="BtnQuestionsId" name="questionId" value="" />
                <div class="col-12 text-center">
                    <h3>
                        افزودن دکمه (بین 3 تا 4 تا امکان پذیر است)
                    </h3>
                    <label id="lall"></label>
                </div>
                <div class="form-group">
                    <label for="">تعداد را وارد نمایید :</label>
                    <input type="number" class="form-control" onkeyup="ShowTheBtn(this)" id="NumberBtn" name="name" value="" />
                    <a style="width:100%;margin-top:10px;display:none" class="btn btn-success"  onclick="AddInputBtnQuestion(this)" id="btnQuestion">ساختن</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //افزودن
            $("#OpenCreatModal").click(function () {
                $("#exampleModal").modal("show");
                $("#creatTextGroup").val("");
                $("#CreatIsDeletedGroup").val("");
                $("#AddStartThePoll").val("");
                $("#AddEndThePoll").val("");
            });
            $("#save").click(function (e) {
                e.preventDefault();
                var QuestionText = $("#creatTextGroup").val();
                var QuestionIsDeleted = $("#CreatIsDeletedGroup").val();
                var QuestionStartThePoll = $("#AddStartThePoll").val();
                var QuestionEndThePoll = $("#AddEndThePoll").val();
                $.ajax({
                    type: "Post",
                    data: { text: QuestionText, isDeleted: QuestionIsDeleted, startPoll: QuestionStartThePoll, endPoll: QuestionEndThePoll },
                    url: "/Admin/Offers/AddQuestion",
                    success: function (result) {
                        if (result != null) {
                            $("#exampleModal").modal("hide");
                            var html = '<tr id="' + result.id + '">'
                            html += '<td class="text-center">' + result.id + '</td>'
                            html += '<td id="Name-' + result.id + '">'
                            html += '' + result.questionText + ''
                            html += '</td>'
                            html += '<td id="StartThePoll-' + result.id + '">'
                            html += '' + result.startThePoll + ''
                            html += ' </td>'
                            html += '<td id="EndThePoll-' + result.id + '">'
                            html += '' + result.endThePoll + ''
                            html += '</td>'
                            html += ' <td>'
                            html += '<button type="button" attr="' + result.id + '" onclick="OpenDeleteModel(this)" class="btn btn-info btn-outline btn-circle btn-lg m-r-5">'
                            html += '<i class="ti-trash"></i>'
                            html += '</button>'
                            html += '<button type="button" attr="' + result.id + '" onclick="OpenUpdateModal(this)" class="btn btn-info btn-outline btn-circle btn-lg m-r-5">'
                            html += '<i class="ti-pencil-alt"></i>'
                            html += '</button>'
                            html += '</td>'
                            html += '</tr>'
                            $("#group-list").append(html);
                            BtnQuestionsId
                            $("#BtnQuestionsId").val(result.id);
                            $("#exampleModal32").modal("show");

                        }
                    }

                });
            })
            
            //حذف
            $("#btnDelete").click(function (e) {
                e.preventDefault();
                var id = $("#DeleteID").val();
                $.ajax({
                    type: "Post",
                    url: "/Admin/Offers/DeleteQuestion",
                    data: { ID: id },
                    success: function (result) {
                        if (result != null) {
                            $("#exampleModal3").modal("hide");
                            debugger;
                            $("tr#" + result.id).remove();
                        }
                    }

                })
            })
        });
        //گرفتن ایدی
        function OpenUpdateModal(obj) {
            var attr = obj.getAttribute("attr");
            $.ajax({
                type: "Post",
                url: "/Admin/Offers/GetQuestionById",
                data: { id: attr },
                success: function (result) {
                    if (result != null) {
                        $("#exampleModal2").modal("show");
                        $("#id").val(result.id);
                        $("#text").val(result.questionText);
                        $("#startPoll").val(result.startThePoll);
                        $("#endPoll").val(result.endThePoll);
                        if (result.isDeleted) {
                            $("#isDeleted").val("حذف شده");
                        } else {
                            $("#isDeleted").val("حذف نشده");
                        }
                    }
                }
            });
        }
        function OpenDeleteModel(obj) {
            var attr = obj.getAttribute("attr");
            $.ajax({
                type: "Post",
                url: "/Admin/Offers/GetQuestionById",
                data: { id: attr },
                success: function (result) {
                    if (result != null) {
                        $("#exampleModal3").modal("show");
                        $("#DeleteID").val(result.id);
                        document.getElementById("lal").innerHTML = ' ایا از حذف ان اطمینان دارید؟';
                    }
                }
            });
        }
        //گرفتن تعداد دکمه دکمه
        function ShowTheBtn(obj) {
            if (obj.value == "") {
                document.getElementById("btnQuestion").style.display = "none";
            } else {
                document.getElementById("btnQuestion").style.display = "block";
            }
        }
        //ساخت دکمه
        function AddInputBtnQuestion(obj) {
            obj.style.display = "none";
            var number = $("#NumberBtn").val();
            if (number <= 4 && number > 0) {
                for (var i = 0; i < number; i++) {
                    var html = '<div class="form-group">'
                    html += '<label for="">نام دکمه را بنویسید :</label>'
                    html += '<input type="text" class="form-control" name="BtnQuestion[' + i + '].name" value="" />'
                    html += '</div>'
                    $("#CreateBtn").append(html);
                }
                var htmls = '<br />'
                htmls +='<button style="width:100%;margin-top:10px" class="btn btn-success">افزودن دکمه ها</button>'
                $("#CreateBtn").append(htmls);

            } else {
                $("#lall").html("نمی تواند 0 یا بیشتر از 4 باشد");
            }
        }
    </script>
}
